*{
    box-sizing:border-box;
}
/*font-family: 'Abril Fatface', cursive;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Righteous', cursive;*/
body{
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}




header{
    margin-top: 1.5em;
    position: absolute;
    left: 0px;
    right: 0;
    clear: both;
    overflow: auto;
}
.title_section{
    font-family: 'Righteous', cursive;
}

.name{
    font-family: 'Righteous', cursive;
    margin: 0px;
    font-size: 4em;
    color: #009688;
    font-weight: 900;
}
.navigation ul{
    list-style: none;
   margin: 0 auto;
   padding: 0px;
}
.navigation li{
    display: inline-block;
    margin: 16px;
    text-decoration: none
}
.navigation a{
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    text-transform: uppercase;
    color: #fff;
}
.intro{
    background: linear-gradient(90deg,rgba(0,0,0,0.6),rgba(0,0,0,1)),url(img/student.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10em 0;
    color: #fff;
    background-attachment: fixed;
}
.mon_parcour{
    background: linear-gradient(90deg,rgba(0,0,0,0.6),rgba(0,0,0,0.8)),url(img/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10em 0;
    color: #fff;
    background-attachment: fixed;
    padding: 5em 0;
    overflow: auto;
}
hr{
    border: 5px solid white;
    max-width: 120px;
    border-radius: 5px;
    height: 2px;
    align-content: center;
}
.content_intro{
    margin-top: 5em;
    overflow: auto ;
}
.content_intro h1{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}
.content_intro span{
    font-size: 0.5em;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}
.voir_competence{
    background: none;
    border: 1px solid;
    padding: 0.5em;
    color: #fff;
    font-weight: 400;
    transition: all 0.2s ease-in;
    outline: 1px solid rgba(255,255,255,.7);
    
}
.voir_competence:hover{
   background: #009688;
   text-shadow: 0 0 20px rgba(255,255,255,1);
   box-shadow: inset 0 0 20px rgba(255,255,255,.2),
   0 0 20px rgba(255,255,255,0.3);
   outline-color: rgba(255,255,255,0);
   outline-offset: 15px;
}
.about_me{
    padding: 5em 0;
    overflow: auto;
}
.about_me h4{
    color: #009688;
}
.cont_wrap {
    max-width: 90%;
    margin: 0 auto;
}
.content_image{
    float: left;
    overflow: hidden;
    margin-top: 4em;
    clear: both;
    text-align: left;
    margin-left: 1em;
}
.content_image h2 h3{
    margin: 5px;

}
.content_desc{
    max-width: 80%;
    float: right;
    text-align: left;
    overflow: hidden;
    margin-top: 4em;
}
.social_icon{
    list-style: none;
    padding: 0;
}
.social_icon li{
   display: inline-block;
   padding: 5px;
}
.social_icon a{
   border-radius: 50%;
   border: 2px solid black;
   width: 40px;
   height: 40px;
   display: block;
   text-align: center;
   line-height: 40px;
   color: black;
   transition: all 0.2s ease-in;
 }
 .social_icon a:hover{
    background: #009688;
    color: #fff;
    font-size: 18px;
  }
  .contact_me{
    padding: 5me 0;
    margin: 5em 0;
    overflow: auto;
  }
  .footer{
      padding: 5em 0;
      color: #fff;
      background: black;
      overflow: auto;
  }
